.form-title {
  margin-right: auto;
}
.google-button {
  width: 100% !important;
  font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji" !important;
}
.register-section {
  display: flex;
  justify-content: center;
}
.register-header {
  display: flex;
  justify-content: space-around;
}
.register-form {
  width: 487px;
}
