@tailwind base;
@tailwind components;
@tailwind utilities;

.register-section {
  display: flex;
  justify-content: center;
}
.register-header {
  display: flex;
  justify-content: space-around;
}
.register-form {
  width: 487px;
}
